/*
HTML & CSS Capstone
    Group Assignment

    Home page of _
    Author: Noah, Vaythan, Michael
    Date: 11/5/2025

    Filename: all.css
*/

html {
    background-color: rgb(181, 210, 232);
}

/* Page Body Styles */
body {
    background-color: rgb(228, 243, 255);
    font-family: B
}

