/*
HTML & CSS Capstone
    Group Assignment

    Home page of _
    Author: Noah, Vaythan, Michael
    Date: 11/5/2025

    Filename: all.css
*/



/* Page Body Styles */


/* Horizontal Navigation Styles */

nav.horizontalNavigation a {
    background-color: rgb(37, 85, 121);

    font-size: 1.4em;
    line-height: 1.8em;
    text-align: center;
}

