/*
HTML & CSS Capstone
    Group Assignment

    Home page of _
    Author: Noah, Vaythan, Michael
    Date: 11/7/2025

    Filename: stylewili.css
*/

/* This sets a background color */

html {
    background-color: rgb(29, 65, 93);
}

/* Page Body Styles */

header img {
    display: block;
    width: 100%;
}

body {
    color: rgb(180, 220, 247);
    /* Sets font for body */
    font-family: Borel;
    margin: 0;
    max-width: 1200px;
}

body {
   background-color: rgb(35, 81, 116);
   border-left: 3px solid rgba(49, 104, 146, 0.7);
   border-right: 3px solid rgba(49, 104, 146, 0.7);
   margin: 0px auto;
   min-width: 1030px;
   max-width: 960px;  
   width: 100%;
   font-size: 1.4em;
   font-family: Urbanist;
}

/* Form */

.column {
  float: left;
  width: 33.33%;
  height: 380px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

.left, .right {
  width: 33.33%;
  height: 380px;
}

.middle {
  width: 33.33%;
  height: 380px;
}

textarea {
    width: 100%;
    height: 10%;
}

input[type="submit"] {
   height: 50px;
   width: 200px;
}

input:focus, select:focus, textarea:focus {
   background-color: rgb(220, 255, 220);
}

input#name:focus:valid, input#zip:focus:valid, input#phone:focus:valid, input#mail:focus:valid {
   background: rgb(220, 255, 220) bottom right/contain no-repeat;
}

input#name:focus:invalid, input#zip:focus:invalid, input#phone:focus:invalid, input#mail:focus:invalid {
   background: rgb(220, 232, 233) bottom right/contain no-repeat;
}

ul li{
  font-size: 1.6em;
  float: top left;
}

 ul > li > a:visited{
  color: rgb(180, 220, 247);
}

.surveyform {
  position: relative;
  bottom: 0;
  margin-top: 3em;
}

/* Footer */

footer {
  background-color: #457091ff;
  color: rgb(180, 220, 247);
  font-size: 1.1em;
  padding: 10px 0px;
  text-align: center;
  top: 50em;
  bottom: 0;
}


footer img {
  background-color: transparent;
  filter: sepia(100%) saturate(1000%) hue-rotate(180deg) brightness(1.5) contrast(1.2);
}

/* Videos */

.bs video {
  position: relative;
  left: 6.5em;
  top: 11.5em;
  display: block;
  width: 20em;
  height: 11em;
}

.vd video {
  position: relative;
  display: block;
  width: 20em;
  height: 11em;
  left: 36.5em;
  bottom: 18.5em;
}

/* Corresponding paragraphs */

.bsp {
  position: relative;
  left: -15.5em;
  top: 9.5em;
  text-align: center;
  line-height: 0.5em;
  font-size: 1em;
}


.vdp {
  position: relative;
  text-align: center;
  line-height: 0.5em;
  width: 25em;
  left: 34em;
  top: 1.4em;
  font-size: 1em;
}

figcaption.discovery {
  left: 44.5em;
}

figcaption.noaa {
  left: 12em;
}

/* Figcaption */

.noaa {
  position: relative;
  top: -0.8em;
  left: 9.5em;
}

.discovery {
  position: relative;
  left: 43em;
  top: -19em;
}

@media only screen and (min-width: 881px) {

    header img {
        width: 100%;
    }

}

@media only screen and (max-width: 880px) {

      img {
      break-after: always;
      width: 50%;
    }

    header img {
        width: fill;
    }
    
    body {
        background-size: fill;
        border: 0;
    }

    figure img {
        max-width: 30%;
        max-height: 100%;
    }

      p {
      font-size: 0.8em;
    }

    div img {
        height: 60%;
        width: 60%;
    }

    header li a {
        max-width: 30%;
        max-height: 80%;
    }

    footer {
      max-height: fit-content;
    }

    fieldset {
      width: 50%;
      font-size: 80%;
    }

    textarea {
      width: 80%;
    }

    footer {
      position: bottom;
      max-height: 6em;
    }

    .vdp {
    position: relative;
    text-align: center;
    line-height: 0.5em;
    width: 25em;
    font-size: 1em;
    left: 5em
    }

    .vdp video {

    }


    body {
    max-width: 900px;
    }
}