/*
HTML & CSS Capstone
    Group Assignment

    Home page of _
    Author: Noah, Vaythan, Michael
    Date: 11/7/2025

    Filename: stylewili.css
*/

/* This sets a background color */
html {
    background-color: rgb(29, 65, 93);
}

/* Page Body Styles */

header img {
    display: block;
    width: 100%;
}

body {
    color: rgb(180, 220, 247);
    /* Sets font for body */
    font-family: url(../font/Borel-Regular.ttf)
}

body {
   background-color: rgb(35, 81, 116);
   border-left: 3px solid rgba(49, 104, 146, 0.7);
   border-right: 3px solid rgba(49, 104, 146, 0.7);
   min-height: 100%;  
   margin: 0px auto;
   min-width: 420px;
   max-width: 1120px;  
   width: 100%;
   font-size: 1.4em;
   font-family: Urbanist;
}


fieldset#survey {
    border: 10em;
}

fieldset {
    background-color: rgb(69, 112, 145);
}

div {
    width: 15em;
    height: 6em;
}

.info {
    display: block;
    width: 10.5em;
    height: auto;
    margin-left: 2em;
}

.survey {
    display: block;
    width: 10.5em;
    height: auto;
    margin-left: 17em;
    margin-top: 10em;
}

.input {
    display: block;
    width: 10.5em;
    height: auto;
}