/*
HTML & CSS Capstone
    Group Assignment

    Home page of _
    Author: Noah, Vaythan, Michael
    Date: 11/7/2025

    Filename: stylewili.css
*/

/* This sets a background color */
html {
    background-color: rgb(29, 65, 93);
}

/* Page Body Styles */

header img {
    display: block;
    width: 100%;
}

body {
    color: rgb(180, 220, 247);
    /* Sets font for body */
    font-family: url(../font/Borel-Regular.ttf)
}

body {
   background-color: rgb(35, 81, 116);
   border-left: 3px solid rgba(49, 104, 146, 0.7);
   border-right: 3px solid rgba(49, 104, 146, 0.7);
   min-height: 100%;  
   margin: 0px auto;
   min-width: 420px;
   max-width: 1120px;  
   width: 100%;
   font-size: 1.4em;
   font-family: Urbanist;
}

.column {
  float: left;
  width: 33.33%;
  height: 380px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

.left, .right {
  width: 33.33%;
  height: 380px;
}

.middle {
  width: 33.33%;
  height: 380px;
}

textarea {
    width: 100%;
    height: 10%;
}

input[type="submit"] {
   height: 50px;
   width: 200px;
}

input:focus, select:focus, textarea:focus {
   background-color: rgb(220, 255, 220);
}

input#name:focus:valid, input#zip:focus:valid, input#phone:focus:valid, input#mail:focus:valid {
   background: rgb(220, 255, 220) bottom right/contain no-repeat;
}

input#name:focus:invalid, input#zip:focus:invalid, input#phone:focus:invalid, input#mail:focus:invalid {
   background: rgb(220, 232, 233) bottom right/contain no-repeat;
}

ul li{
  font-size: 1.6em;
  float: top left;
}

 ul > li > a:visited{
  color: rgb(180, 220, 247);
}

footer {
  background-color: #457091ff;
  color: rgb(180, 220, 247);
  font-size: 1.1em;
  padding: 10px 0px;
  text-align: center;
}


footer img {
  background-color: transparent;
  filter: sepia(100%) saturate(1000%) hue-rotate(180deg) brightness(1.5) contrast(1.2);
}

.bsp {
  position: left;
  height: 50px;
  height: 100px;
}

.bs video {
  position: left;
  display: block;
  width: 320px;
  height: 180px;
}

.vd video {
  position: right;
  display: block;
  width: 320px;
  height: 180px;
}