/*
HTML & CSS Capstone
    Group Assignment

    Home page of _
    Author: Noah, Vaythan, Michael
    Date: 11/7/2025

    Filename: stylemid.css
*/

html {
    background-color: rgb(16, 41, 60);
}

/* Page Body Styles */

body {
    color: rgb(140, 255, 190);
   font-family: Bahiana;
}

header img {
    display: block;
    width: 100%;
}

p {
    text-align: center;
    letter-spacing: 0.35em;
    line-height: 0.9em;
    font-size: 1.4em;
}

div img {
    width: 40em;
    height: auto;
}

header li {
    background-color: rgb(110, 21, 21);
    }

header li a:visited{
    color: rgb(140, 255, 190);
    }

/* Footer */
footer {
  background-color: rgb(16, 41, 60);
  color: rgb(140, 255, 190);
  font-size: 1.1em;
  padding: 10px 0px;
  text-align: center;
}


footer img {
    max-width: 3em;
    height: 1em;
    text-align: center;
    background-color: transparent;
    filter: sepia(100%) hue-rotate(100deg) saturate(200%);
}

@media only screen and (max-width: 1000px) {

    p {
        font-size: 0.8em;
    }

    div img {
        height: 60%;
        width: 60%;
    }

    header li a {
        max-width: 30%;
        max-height: 80%;
    }
}