/*
HTML & CSS Capstone
    Group Assignment

    Home page of _
    Author: Noah, Vaythan, Michael
    Date: 11/7/2025

    Filename: stylemid.css
*/

html {
    background-color: rgb(16, 41, 60);
}

/* Page Body Styles */
body {
    color: rgb(140, 255, 190);
   font-family: Bahiana;
}

header img {
    display: block;
    width: 100%;
}

p {
    text-align: center;
    letter-spacing: 0.35em;
    line-height: 0.9em;
    font-size: 1.4em;
}

div img {
    width: 40em;
    height: auto;
}

footer img {
    max-width: 3em;
    height: 1em;
    text-align: center;
}