/*
HTML & CSS Capstone
    Group Assignment

    Home page of _
    Author: Noah, Vaythan, Michael
    Date: 11/7/2025

    Filename: stylemid.css
*/

html {
    background-color: rgb(16, 41, 60);
}

/* Page Body Styles */
body {
    color: rgb(140, 255, 190);
    font-family: B
}

header img {
    display: block;
    width: 100%;
}

p {
    letter-spacing: 1em;
    line-height: 0.5em;
}