/*
HTML & CSS Capstone
    Group Assignment

    Home page of _
    Author: Noah, Vaythan, Michael
    Date: 11/7/2025

    Filename: stylewili.css
*/

/* This sets a background color */
html {
    background-color: rgb(29, 65, 93);
}

/* Page Body Styles */

header img {
    display: block;
    width: 100%;
}

body {
    color: rgb(180, 220, 247);
    /* Sets font for body */
    font-family: url(../font/Borel-Regular.ttf)
}

body {
   background-color: rgb(35, 81, 116);
   border-left: 3px solid rgba(49, 104, 146, 0.7);
   border-right: 3px solid rgba(49, 104, 146, 0.7);
   min-height: 100%;  
   margin: 0px auto;
   min-width: 420px;
   max-width: 1120px;  
   width: 100%;
   font-size: 1.4em;
   font-family: Urbanist;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}